# Dependencies
node_modules/
/.pnp
.pnp.js

# Testing
/coverage

# Production
/build
/dist

# Misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.*

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.vscode/*

# Sistema
Thumbs.db

# Orquestra specific
backend/uploads/*
!backend/uploads/.gitkeep
backend/debug.env
backend/DEBUGGING.md
backend/melhorias.txt
backend/src/test-*.js
*.log 